extends layout2

block content
  h1= title
  p CustomWelcomeIndex1 to #{title}
  h1= title
  
  |TestPUG
  p= 'Evaluated and <em>escaped expression</em>:' + title
  p This is a line with #[em some emphasis] and #[strong strong text] markup. 
  p This line has an un-escaped string: !{'<em> is emphasised</em>'}, an escaped string: #{'<em> is not emphasised</em>'}, and escaped variables: #{title}.
  <div class="quote">
   <p>Joel: <em>Some of the girls are wearing my mother's clothing.</em></p>
  </div>
  a(href='http://someurl/') Link text
  | Plain text
  if title
   p A variable named "title" exists
  else
   p A variable named "title" does not exist
  if title23
   p A variable named "title23" exists
  else
   p A variable named "title23" does not exist   
  ul
   each val in [1, 2, 3, 4, 5]
    li= val
